APP_ID = "1436542"
API_HASH = "ace9d0fb8f46300776a985ca357bdfff"
BOT_TOKEN = "7608093173:AAF16fnNsmH3IW1JtEbsTVebc6XWdmxuI98"
DB_URL = "postgresql://CHOPPER:CHOPPER@localhost:5432/chopperfiles" #change username, password and dbname
OWNER_ID = 800422840
ADMINS = 6874351976
DB_CHANNELS = -1001541833234 -1001765720202
PM_SUPPORT = OFF
GROUP_SUPPORT = ON
INLINE_SUPPORT = ON
INLINE_ADMIN_ONLY = ON
AUTH_GRPS = 
DELIVERY_CHANNELS = "@delivery102" 
